header{
    width: 100%;
    display: block;
    .header-row{
        padding: 0 80px 0 80px;
        @media #{$md} {
            padding: 0px;
        }
        .align-center{
            display: flex;
            justify-content: flex-end;
            @media #{$md}{
                padding: 20px 40px 20px 0;
                order: 2;
            }
            @media #{$mini}{
                padding: 20px 0 20px 0;
                order: 2;
            }
            @media #{$lg}{
                padding: 20px 0 20px 0;
                order: 2;
            }
            @media #{$xl}{
                padding: 20px 0 20px 0;
                order: 2;
            }
        }
    }
}
.navigation-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .col-sm-4{
        padding: 0px;
    }
    .mycart{
        display: none;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        top: 100%;
        height: 100%;
        border-radius: 3px;
        .cart-row{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 15px;
            align-items: center;
            border-bottom: 1px solid #59647252;
            .cart-img{
               width: 40%;
               img{width: 100%;}
            }
            .cart-caption{
               width: 50%;
               padding: 0 0 0 15px;
               
               .price{
                    width: 50%;
               }
            }
            .cart-remove{
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                background: #f4f4f4;
                border-radius: 0 10px 10px 0;
                font-weight: 300;
                font-size: 25px;
                color: #586371;
                cursor: pointer;
            }
        }
        .total-price{
            float: right;
            padding: 15px;
            h5{
                text-align: end;
                line-height: 30px;
            }
            button{
                display: block;
                background: none;
                border: 1px solid #770b20;
                border-radius: 5px;
                padding: 10px;
                float: right;
            }
        }
    }
}
.quantity-input{
    form {
        width: 100%;
        text-align: left;
        display: flex;
        #decrease {
            border-radius: 8px 0 0 8px;
        }
        #increase {
            border-radius: 0 8px 8px 0;
        }
        #input-wrap {
            margin: 0px;
            padding: 0px;
        }
    }
    .value-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
        padding: 11px 0;
        background: #f4f4f4;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            cursor: pointer;
        }
    }
    input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
    }
    input[type=number] {
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
.logo-holder{
    padding: 20px 0 20px 0;
    @media #{$md} {
        padding: 20px 20px 20px 40px;
    }
    img{
        max-width: 238px;
    }
}
.kategori-dropdown{
    display: flex;
    align-items: center;
    padding-left: 70px;
    @media #{$md}{
        order: 3;
        padding: 15px 0 35px 40px;
    }
    @media #{$mini}{
        order: 3;
        padding: 15px 0 25px 0;
    }
    @media #{$lg}{
        order: 3;
        padding: 15px 0 25px 0;
    }
        .custom-select {
        	position: relative;
        	font-family: Arial;
            width: 42%;
            @media #{$md}{
                order: 0;
            }
        	select {
        		display: none;
        	}
        }
        .select-selected {
        	background-color: #f4f4f4;
        	color: #808489;
        	padding: 10px;
            border: 2px solid #f4f4f4;
            border-radius:3px 0 0 3px;
        	cursor: pointer;
        	user-select: none;
        	&:after {
        		position: absolute;
        		content: "";
        		top: 23px;
        		right: 10px;
        		width: 0;
        		height: 0;
        		border: 6px solid transparent;
                border-color: #808489 transparent transparent transparent;
        	}
        }
        .select-selected.select-arrow-active {
        	&:after {
        		border-color: transparent transparent #808489 transparent;
        		top: 16px;
        	}
        }
        .select-items {
        	div {
        		color: #808489;
        		padding: 8px 16px;
        		border: 1px solid transparent;
        		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        		cursor: pointer;
        		user-select: none;
        		&:hover {
        			background-color: rgba(0, 0, 0, 0.1);
        		}
        	}
        	position: absolute;
        	background-color: #f4f4f4;
        	top: 100%;
        	left: 0;
        	right: 0;
        	z-index: 99;
        }
        .select-hide {
        	display: none;
        }
        .same-as-selected {
        	background-color: rgba(0, 0, 0, 0.1);
        }
    .search-input{
        float: left;
        width: 100%;
        input{
            display: inline-block;
            float: left;
            border:2px solid #f4f4f4;
            border-left: none;
            border-right: none;
            padding: 10px 10px 10px 10px;
            outline: none;
            width: 70%;
            @media #{$md} {
                display: block;
                position: relative;
                padding: 10px;
                width: 68%;
            }
            @media #{$xl}{
                width: 62%;
                padding: 10px;
            }
            @media #{$mini}{
                width: 78%;
            }
            @media #{$lg}{
                width: 83%;
            }
        }
        a{
            display: inline-block;
            float: left;
            padding: 11px 35px 10px 35px;
            border: 1px solid #770b1f;
            background: #770b1f;
            border-radius: 0 3px 3px 0;
            position: relative;
            p{
                color: white;
                text-align: center;
                margin: 0;
            }
            &::before{
                content: '⫸';
                text-align: center;
                font-size: 25px;
                position: absolute;
                background: #f4f4f4;
                width: 0%;
                left: 0;
                color: transparent;
                bottom: 0;
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                transition: all 0.3s;
            }
            &:hover::before{
                width: 100%;
                color: #770b1f;
            }
        }
    }
}
.right-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img{
        display: inline-block;
        width: 55px;
        @media #{$md}{
            width: 45px;
        }
    }
    h4{
        display: inline-block;
        font-size: 16px;
    }
    .icon-caption{
        position: relative;
        padding: 8px;
    }
}
.cart{
    cursor: pointer;
    .header-icon{
        position: relative;
        .quantity{
            background-color: #770b1f;
            display: inline-block !important;
            color: #fff;
            border-radius: 500px;
            height: 27px;
            text-align: center;
            width: 27px;
            font-size: 16px;
            font-weight: 700;
            position: absolute;
            right: 2px;
            top: 7px;
        }
    }
    h4{
        span{
            color: #770b1f;
            text-align: end;
        }
    }
}

menu {
	background: #770b1f;
	width: 100%;
	display: flex;
	justify-content: center;
    margin: 0;
}
.ul-menu {
	margin: 0;
	li {
		display: inline-block;
		padding: 10px;
		color: white;
		cursor: pointer;
	}
	img {
		width: 150px;
	}
}
#categorieWoman {
	&:hover {
		.drop-mega {
			visibility: visible;
		}
	}
}
#categorieWomanBrand1::after, 
#categorieWomanBrand2::after,
#categorieWomanBrand3::after{
    content: '';
    display: block;
    position: relative;
    bottom: -12px;
    width: 0%;
    background: black;
    height: 3px;
    transition: all 0.5s;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#categorieWomanBrand1,
#categorieWomanBrand2,
#categorieWomanBrand3{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
    &:hover::after{
        width: 100%;
    }
}
#categorieWomanBrand1{
	&:hover {
		#brandSub1 {
			visibility: visible;
		}
	}
}
#categorieWomanBrand2{
	&:hover {
		#brandSub2 {
			visibility: visible;
		}
	}
}
#categorieWomanBrand3{
	&:hover {
		#brandSub3 {
			visibility: visible;
		}
	}
}
#brandSub1,
#brandSub2,
#brandSub3 {
	visibility: hidden;
}
#subList1 {
	&:hover {
		#subContent1 {
			visibility: visible;
		}
	}
}
#subList2 {
	&:hover {
		#subContent2 {
			visibility: visible;
		}
	}
}
#subList3 {
	&:hover {
		#subContent3 {
			visibility: visible;
		}
	}
}
#subContent1,
#subContent2,
#subContent3 {
	visibility: hidden;
}
.drop-mega {
	width: 100%;
	position: absolute;
    z-index: 99;
	left: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.ul-menu {
	li {
		display: inline-block;
	}
}
.brands-img {
	background: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.ul-brands {
	li {
		padding: 15px 30px;
	}
}
.brands-sub {
	background:#f4f4f4;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 15px;
    border-top: 1px solid #bfbfbf;
}
.sub-content {
	background: #f4f4f4;
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 14px;
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 40px 0;
    border-top: 1px solid #bfbfbf;
	ul {
		padding: 15px;
		margin: 0;
	}
	li {
		display: block;
		padding: 0;
	}
}
.bar-line {
	height: 20px;
	top: 25%;
	position: relative;
	border-radius: 10px;
	width: 2px;
	background: #ffffff8a;
	margin: 0 5px 0 5px;
	display: inline-block;
}
.img-item {
	margin-left: 50px;
	img {
		width: 250px;
	}
}
.img-overlay {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
    span{
        color: black;
        font-size: 20px;
    }
}
.right-arr {
	&::before {
		content: '⫸';
		display: block;
		position: relative;
		font-size: 20px;
		color: black;
	}
}
.ul-flex {
	display: flex;
    text-decoration: none;
    color: black; 
}
.ul-hover{
    li{
        &:hover{
            a{
                color: black;
                font-weight: 500;
            }
        }
        a{
            text-decoration: none;
            color: #000000ad;
        }
    }
}
.ul-content{
    h3{
        color:grey;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 400;
    }
    li{
        a{
            color: #000000ad !important;
            font-weight: 100 !important;
            font-size: 16px;
        }
        &:hover{
            a{
               color: black !important;
            }
        }
    }
}
.cart-active {
    display: table !important;
}
.navigation-parent{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    @media #{$md} {
        padding-right: 40px;
    }
}
.navigation{
    float: right;
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    margin: 15px 0 0 0;
    cursor: pointer;
    &:hover span:nth-child(1){
        width: 35px;
    }
    &:hover span:nth-child(2){
        width: 40px;
    }
    span{
        width: 50px;
        height: 5px;
        background: #576270;
        display: block;
        transition: all 0.3s ease-in-out;
    }
    &.active span:nth-child(1) {
        transform-origin: center center;
        transform: rotate(-45deg) translate(-12px, 12px);
        width: 55px;
      }
    &.active span:nth-child(2) {
        transform: translateX(10px);
        opacity: 0;
    }
    
    &.active span:nth-child(3) {
        transform-origin: center center;
        transform: rotate(45deg) translate(-12px, -12px);
        width: 55px;
    }
    .line1{
        width: 42px;
        justify-self: end;
    }
    .line2{
        width: 35px;
        justify-self: end;
    }
}
.mbl-menu{
    display: none;
    height: 0;
    transition: linear 0.3s;
}
.menu-active{
    display: block;
    height: 355px;
}
.mobile-menu{
    background: #770b1f;
    padding: 50px;
    ul{
        list-style: none;
        li{
            width: 100%;
            padding-bottom: 10px;
            a{
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}