*{
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    box-sizing: border-box;
}
@import "variables.scss";
.hidden-rest {
    @media #{$rest}{
        display: none !important;
    }
}
.hidden-xl {
    @media #{$xl} {
       display: none !important;
    }
}
.hidden-lg {
    @media #{$lg} {
       display: none;
    }
}
.hidden-mini {
    @media #{$mini} {
        display: none;
    }
}
.hidden-md {
    @media #{$md} {
        display: none;
    }
}
.hidden-sm {
    @media #{$sm} {
        display: none;
    }
}
.hidden-xs {
    @media #{$xs} {
        display: none;
    }
}
.padd15{
    padding: 0 15px 0 15px;
    @media #{$md} {
        padding: 0px;
    }
}
.padd15-mbl{
    padding: 0 15px 0 15px;
}
.left-padd{
    padding: 0 0 0 15px
}
.right-padd{
    padding: 0 15px 0 0;
}
.order6{
    order: 6;
}
@media #{$md}{
    .md-center{
        display: flex;
        justify-content: center
    }
    .py-15{
        padding: 15px 0;
    }
    .py-30{
        padding: 30px 0 !important; 
    }
}
.float-r{
    float: right;
    text-align: end;
}
.disp-flex{
    display: flex;
    justify-content: center
}
.align-cen{
    align-items: center
}
.disp-flex-center{
    display: flex;
    align-items: center;
    justify-content: center
}
.pt-10{
    padding-top: 10px;
}

@import "header.scss";
@import "slider.scss";
@import "highlights.scss";
@import "products.scss";
@import "categories.scss";
@import "banner.scss";
@import "footer.scss";
@import "ecommerce.scss";
@import "megamenu.scss";
@import "favorites.scss";
@import "mycart.scss";
@import "head.scss";
